{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 63,
          "firefox": 57
        },
        "useBuiltIns": false,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "sourceMaps": false
}