{
  "parser": "typescript-eslint-parser",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "unsafeWindow": true,
    "GM": true,
    "GM_addStyle": true,
    "GM_deleteValue": true,
    "GM_listValues": true,
    "GM_addValueChangeListener": true,
    "GM_removeValueChangeListener": true,
    "GM_setValue": true,
    "GM_getValue": true,
    "GM_log": true,
    "GM_getResourceText": true,
    "GM_getResourceURL": true,
    "GM_registerMenuCommand": true,
    "GM_unregisterMenuCommand": true,
    "GM_openInTab": true,
    "GM_download": true,
    "GM_getTab": true,
    "GM_saveTab": true,
    "GM_getTabs": true,
    "GM_setClipboard": true,
    "GM_xmlhttpRequest": true,
    "GM_notification": true,
    "GM_info": true
  },
  "rules": {
    "class-methods-use-this": [
      0
    ],
    "no-continue": [
      0
    ],
    "comma-dangle": [
      1,
      "never"
    ],
    "spaced-comment": [
      0,
      "always"
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "ignore",
        "asyncArrow": "ignore"
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "no-await-in-loop": [
      0
    ]
  }
}